/* ====================== General */
:root {
  --primary: #7fa7ba;
  --p-light: #bee1f3;
  --p-dark: #50788a;
  --p-exdark: #395b6b;
  --secondary: #ffab91;
  --s-light: #ffddc1;
  --s-exlight: #fceadc;
  --s-dark: #c97b63;
}

body {
  /* background-color: #f8f0ed; */
  background-color: white;
}

h1 {
  margin: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--p-exdark);
}
.content {
  min-height: calc(100vh - 80px);
  padding: 1rem 3rem;
}

.form-control {
  margin-bottom: 20px;
}

.btn {
  border-radius: 12px;
  background-color: var(--secondary);
  box-shadow: none;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px var(--s-dark);
}

.btn:active {
  background-color: var(--s-dark);
  color: white;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
  box-shadow: 0 0 5px var(--s-dark);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid var(--s-dark);
}

/* ======================= Footer */
footer {
  background-color: var(--p-dark);
  opacity: 0.6;
  height: 34px;
  color: var(--primary);
}

.footer-logo {
  height: 1.5rem;
}
/* ======================= Landing pg*/

.home-pic {
  max-width: 40vw;
}

.log-in-pg-btn {
  background-color: var(--primary);
  color: white;
}
.log-in-pg-btn:hover,
.log-in-pg-btn:active,
.log-in-pg-btn:focus {
  box-shadow: 0 5px 15px var(--p-dark);
}

/* ======================= Recipes */
.remove-recipe {
  color: var(--p-dark);
  border: 1px solid var(--p-dark);
  background-color: white;
}

.remove-recipe:hover,
.remove-recipe:focus,
.remove-recipe:active {
  box-shadow: 0 5px 15px var(--p-dark);
  color: var(--p-dark);
  font-weight: bold;
}

.add-recipe {
  color: white;
  background-color: var(--p-dark);
}

.add-recipe:hover,
.add-recipe:focus,
.add-recipe:active {
  box-shadow: 0 5px 15px var(--p-dark);
  color: var(--p-dark);
  font-weight: bold;
  background-color: white;
}
/* ======================= Navbar */

.navbar {
  background-color: var(--s-light);
  height: 46px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 8px 3px 5px 8px;
  position: relative;
  font-weight: lighter;
  z-index: 9999;
}

.navbar a {
  color: var(--s-dark);
  font-size: 14px;
}

.navbar-toggler-icon {
  color: var(--s-dark);
}

.navbar-toggler-icon:active,
.navbar-toggler-icon:hover {
  border: 2px solid var(--s-dark);
}

.nav-link a:hover {
  background-color: var(--s-exlight);
}

.nav-logo {
  display: flex;
  font-size: large !important;
  align-items: center;
  margin-right: 1.5rem;
}

ul.nav.navbar-nav {
  align-items: center;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
  display: flex;
}

.nav-link:hover {
  background-color: var(--s-exlight);
  color: var(--s-dark);
}

#search.form-control {
  border-radius: 20px;
  /* margin-bottom: 0px; */
  width: 100%;
  font-size: 13px;
  padding-right: 28px;
  box-sizing: border-box;
}

#search-bar-btn {
  position: absolute;
  right: 9px;
  z-index: 1;
  padding: 23px;
  color: var(--secondary);
  background-color: transparent;
}

#search.form-control + .btn:active,
#search.form-control + .btn:focus {
  box-shadow: none;
}

#search:active,
#search:focus {
  box-shadow: none;
  border: 2px solid var(--s-dark);
}
/* ======================= adv recipe search */
.xcontent {
  padding: 1rem;
  background-color: var(--s-exlight);
  border-left: 1px solid var(--s-dark);
  border-right: 1px solid var(--s-dark);
  height: 100%;
  padding-bottom: 4rem;
}

/* ===================== Recipe Info page */
.info-box {
  border: 1px solid var(--p-light);
  border-radius: 3px;
}
.card-deck {
  width: 90vw;
}
.card-deck > .card {
  border: 1px solid var(--primary);
}

/* ===================== User profile */
.edit-profile-btn {
  background-color: var(--p-dark);
  color: white;
}

.delete-profile-btn {
  background-color: #9e3e20;
  color: white;
}

.edit-note-btn {
  background-color: white;
  color: var(--secondary);
  font-size: larger;
}

.edit-note-btn:active,
.edit-note-btn:hover {
  color: var(--s-dark);
}

/* ===================== Recipe Results*/
.page-link {
  color: var(--p-exdark);
}
