<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Meal Planner</title>

    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap/dist/css/bootstrap.css"
    />
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <!-- <script
      src="https://pagecdn.io/lib/bootstrap/4.5.1/js/bootstrap.min.js"
      crossorigin="anonymous"
      integrity="sha256-0IiaoZCI++9oAAvmCb5Y0r93XkuhvJpRalZLffQXLok="
    ></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>

    <!-- <script type="text/javascript" src="/static/api.js"></script>
    <script type="text/javascript" src="./static/script.js"></script> -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light justify-content-between">
      <a class="navbar-brand" href="/">Recipe Box</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/advanced_search">Advanced Search</a>
          </li>
          {% if not g.user %}
          <li class="nav-item">
            <a class="nav-link" href="/user/signup">Sign Up <Inp></Inp></a>
          </li>
          <li class="nav-item">
            <a class="nav-link log-in-btn" href="/user/login"
              >Log In<Inp></Inp
            ></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link log-out-btn" href="/user/logout">Log Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/recipes"
              >Saved recipes
              <span class="badge badge-info" id="recipe-count">New</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user/profile">Profile <Inp></Inp></a>
          </li>
          {% endif %}
        </ul>
      </div>

      <form class="form-inline" id="search-bar-form" action="/search">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search for recipes"
          aria-label="Search"
          name="search-recipe"
          id="search"
        />

        <button class="btn btn-default" id="search-bar-btn" type="submit">
          <span class="fa fa-search"></span>
        </button>
      </form>
    </nav>

    <div class="container">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% block content %} {% endblock %}
    </div>
    <footer>
      <div class="text-center py-1">
        Powered by
        <a href="https://spoonacular.com/food-api">
          <img
            class="footer-logo"
            src="/static/images/spoonacular.svg"
            alt=""
          />
          Spoonacular API</a
        >
      </div>
    </footer>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='api.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='script.js') }}"
    ></script>
  </body>
</html>
