{% extends 'base.html' %} {% block content %}
<h1>{{recipe.title}}</h1>
<img src="{{recipe.image}}" alt="{{recipe.title}}" />
<a href="{{recipe.sourceUrl}}">See the original at {{recipe.sourceName}}'s</a>
<div>servings: {{recipe.servings}}</div>
<div>Ready in: {{recipe.readyInMinutes}} minutes</div>
<div>
  Good for: {% for item in recipe.dishTypes %} {{item}} {% endfor %}
</div>
<h3>Ingredients</h3>
<ul>
  {% for item in recipe.extendedIngredients %}
  <li>
    {{item.original}}
  </li>
  {% endfor %}
</ul>
<!-- <div>Summary:{{recipe.summary}}</div> -->

<a href="#" class="btn btn-secondary">Add to meal plan</a>
{% endblock %}
