{% extends 'base.html' %} {% block content %}
<div class="home-hero">
  <h1>Advanced Recipe Search</h1>
  <div class="container">
    <form action="/adv_search_results" id="recipe-search">
      <div>
        <label for="advQuery">Search:</label>
        <input
          id="advQuery"
          name="advQuery"
          type="text"
          placeholder="Search"
          required
        />
      </div>

      <div>
        <label for="includeIngredients">Must include:</label>
        <input
          id="includeIngredients"
          name="includeIngredients"
          type="text"
          placeholder="..."
        />
      </div>
      <div>
        <label for="excludeIngredients">Must exclude:</label>
        <input
          id="excludeIngredients"
          name="excludeIngredients"
          type="text"
          placeholder="..."
        />
      </div>
      <div>
        <label for="cookTime">Max Cooking Time (minutes):</label>
        <input id="cooktime" name="cooktime" type="number" placeholder="..." />
      </div>
      <div>
        <div>Allergens/Intolerances (optional):</div>
        {% for item in intolerances%}
        <label
          ><input type="checkbox" value="{{item}}" name="{{item}}" />
          {{item}}</label
        >
        {% endfor %}
      </div>
      <div>
        <label for="diet">Diet: (optional)</label>
        <select name="diet" id="diet">
          {% for diet in diets %}
          <option value="{{diet}}">{{diet}}</option>
          {% endfor %}
        </select>
      </div>
      <button id="adv-src-btn">Search</button>
    </form>
  </div>
</div>
{% endblock %}
