{% extends 'base.html' %} {% block content %}
<h1>User Profile</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <b> Name: </b> {{user.name}} <br />
      <b> Email: </b>{{user.email}} <br />

      <b> Allergies: </b>{{user.allergies}} <br />
      <div class="m-3">
        <h5>Actions</h5>
        <a href="/user/edit" class="btn m-1 edit-profile float-left"
          >Edit profile</a
        >

        <a href="/user/delete" class="btn m-1 delete-profile float-left"
          >Delete profile</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
