{% extends 'base.html' %} {% block content %}
<h1>User Profile</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <b> Name: </b> {{user.name}} <br />
      <b> Email: </b>{{user.email}} <br />

      <b> Allergies: </b>{{user.allergies}} <br />
      <div class="m-3">
        <a href="/user/edit" class="btn m-2 mx-3 edit-profile-btn float-left">
          <i class="fas fa-edit"></i> Edit profile
        </a>

        <a href="/user/delete" class="btn m-2 delete-profile-btn float-left">
          <i class="fas fa-user-slash"></i> Delete profile
        </a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
