{% extends 'base.html' %} {% block content %}
<h1>Saved recipes</h1>
<div class="container recipe-cards">
  <div class="card-columns">
    {% for item in recipes %}
    <!-- cards -->
    <div class="card saved-card">
      <a href="/recipe/{{item.id}}" class="text-dark"
          >
      <img class="card-img-top" src="{{item.image_url}}" alt="{{item.name}}" />
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5></a
        >
        <p>
          <a href="/recipe/edit/{{item.id}}" class="btn btn-sm m-1 edit-note-btn" data-toggle="tooltip" data-placement="bottom" title="Edit Notes"
            ><i class="fas fa-edit"></i></a
          ><b>Notes:</b> {{item.notes}}
        </p>

        <form method="GET" action="/unsave_recipe/{{item.id}}">
          <button class="btn btn-sm remove-recipe m-1" data-id="{{item.id}}">
            Remove recipe
          </button>
        </form>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
